<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">CWVS</a>
    <div class="navbar-expand mr-auto">
      
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home" >
          Home
        </a>
        <a class="nav-item nav-link" routerLink="/dashboard" >
          Dashboard
        </a>
        <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  <img src="../assets/userProfile.png" width="30" height="30" class="d-inline-block align-top" alt="">  Profile</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"> My Profile</a></li>
                <li><a class="dropdown-item" href="#"> Sign Out </a></li>
              </ul>
          </li>       
      </div>
    </div>
  </nav>