<div class="container-fluid">
    <!-- Content here -->
<!-- List group -->
<div class="list-group" id="myList" role="tablist">
  <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab">
          <div class="col-6 col-md-8 leftInfo">
            <div class="name">Micky Mouse</div>
            <span class="type"><small>Case #: 23243134</small></span>
          </div>
    </a>
  <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">    
    <div class="col-6 col-md-8 leftInfo">
      <div class="name">Mini Mouse</div>
      <span class="type"><small>Case #: 444324</small></span>
    </div></a>
  <a class="list-group-item list-group-item-action" data-toggle="list" href="#messages" role="tab">
      <div class="col-6 col-md-8 leftInfo">
          <div class="name">Pluto the Dog</div>
          <span class="type"><small>Case #: 222222</small></span>
        </div>
    </a>
  <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings" role="tab">
      <div class="col-6 col-md-8 leftInfo">
          <div class="name">Goofy is the Man</div>
          <span class="type"><small>Case #: 000456454</small></span>
        </div>  
  </a>
</div>


    
  </div>